<footer id="footer" class="footer light-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="/" class="logo d-flex align-items-center">
            <span class="sitename">Alif Mesjid</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Bisrate-Gebriel</p>
            <p>Addis Ababa, Ethiopia</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+251 911 111 111</span></p>
            <p><strong>Email:</strong> <span>alif@gmail.com</span></p>
          </div>
         
        </div>


        <div class="col-lg-6 col-md-8 footer-links">
          <h4>Reach us on Social medias</h4>
          <div class="social-links d-flex mt-3">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        
        </div>

     
      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Alif</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
  
        <!-- Designed by <a href=" ">Muslim Team</a> -->
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="scripts/header.js"></script>
 
  

</body>

</html>