<%- include('partials/header') %>



<main class="main">



<!-- About Section -->
<section id="about" class="about section">

    <div class="container">

      <div class="row gy-4 gx-5">

        <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
          <img src="https://yt3.googleusercontent.com/4LXPp7p_RfvWKdSPncLO2MBf7kTwcgqSffPLvaRmQwSnFgrnN6N8qkqIj6mkrh7mvQ2tZ_GyM4A=s900-c-k-c0x00ffffff-no-rj" class="img-fluid" alt="">
          <a href="https://https://www.youtube.com/watch?v=weaNiQmTz1k" class="glightbox pulsating-play-btn"></a>
        </div>

        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
          <h3>About Us</h3>
          <p>
            We offer five daily prayers, weekly Jumu'ah services, and special prayers during Ramadan and Eid. Our educational programs include Quranic studies, Arabic language classes, and regular Islamic lectures.
          </p>
          <ul>
            <li>
              <i class="bi bi-journal-bookmark"></i>
              <div>
                <h5>History</h5>
                <p>
                Founded in [Year], Alif Mesjid has been a cornerstone of the islamic community, dedicated to serving the spiritual needs of its members. Over the years, we have achieved numerous milestones.</p>
              </div>
            </li>
            <li>
              <i class="bi bi-building"></i>
              <div>
                <h5>Facilities</h5>
                <p>
                  Our mosque features a spacious prayer hall, classrooms, a library, and a community hall for events. We are committed to ensuring accessibility for all members of our community.</p>
              </div>
            </li>
            <li>
              <i class="bi bi-people"></i>
              <div>
                <h5>Community Involvement and Outreach</h5>
                <p>
                  We actively engage in interfaith dialogues and partnerships. Our social services include [services], helping to support those in need within our community.</p>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </section><!-- /About Section -->


</main>


<%- include('partials/footer') %>