<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manage Announcements</title>
</head>
<body>
  <h1>Manage Announcements</h1>
  <a href="/announcements/new">Add Announcement</a>
  <% if (announcements.length > 0) { %>
  <ul>
    <% announcements.forEach(announcement => { %>
      <li>
        <% if (announcement.image.endsWith('.pdf')) { %>
          <a href="/<%= announcement.image %>" target="_blank">View PDF</a>
        <% } else { %>
          <img src="/<%= announcement.image %>" alt="Announcement Image" width="100">
        <% } %>
        <a href="/announcements/edit/<%= announcement._id %>">Edit</a>
        <form action="/announcements/delete/<%= announcement._id %>" method="POST" style="display: inline;">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>
  <% } else { %>
    <p>No announcements</p>
  <% } %>
</body>
</html>




