<%- include('partials/header') %>




<main class="main">



  <!-- Appointment Section -->
  <section id="donation" class="appointment section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Donation</h2>
      <p>"The example of those who spend their wealth in the way of Allah is like a seed [of grain] that sprouts seven ears; in every ear are a hundred grains. And Allah multiplies [the reward] for whom He wills. And Allah is all-Encompassing and Knowing."</p>
      <p>Surah Al-Baqarah (2:261)</p>
    </div><!-- End Section Title -->

   
    <div class="vc_column-inner" style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);">
      <div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element vc_custom_1617357860390 has-box-shadow">
          <div class="wpb_wrapper">
            <h3 style="text-align: center;"><strong>BANK TRANSFER</strong></h3>
            <p style="text-align: center;"><b>Account Name: </b><br>
            The Cambridge Mosque Trust</p>
            <p style="text-align: center;"><b>Bank Name: </b><br>
            HSBC</p>
            <p style="text-align: center;"><b>Account No.: </b><br>
            54298209</p>
            <p style="text-align: center;"><b>Sort code: </b><br>
            40-16-08</p>
            <p style="text-align: center;"><b>IBAN: </b><br>
            GB68 HBUK 4016 0854 2982 09</p>
            <p style="text-align: center;"><b>Branch Identifier Code: </b><br>
            HBUKGB4103J</p>
          </div>
        </div>
      </div>
    </div>
    

  </section><!-- /Appointment Section -->


</main>


<%- include('partials/footer') %>